@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  margin-top: 10px;
  color: #dee2e6;
}
