body {
  background-color: #343a40;
  margin: 0;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
